
stages:
  - test
  - deploy

.meltano:
  image: python:3.8
  before_script:
  - cd data/
  - pip3 install meltano

##########################
# Testing
##########################

sqlfluff:
  extends:
  - .meltano
  stage: test
  before_script:
  - meltano install utilities sqlfluff
  script:
  - meltano invoke sqlfluff lint -v
  rules:
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - when: always

##########################
# Daily data pipeline
##########################

hub-metrics-prod:
  extends:
  - .meltano
  variables:
    STAGE: prod
    JOB_ID: HUB-METRICS-PROD
  stage: deploy
  needs: []
  before_script:
  - meltano install
  - echo "Installing creds file from CI..." && cp $MELTANO_ENV_FILE .env
  script:
  - meltano --environment=prod elt tap-google-analytics target-athena --job_id=ga_athena_$JOB_ID
  - meltano --environment=prod invoke dbt:run
  - meltano --environment=prod elt tap-athena-metrics target-yaml-metrics
  - meltano --environment=prod elt tap-athena-audit target-yaml-audit
  - meltano --environment=prod invoke awscli s3 cp audit.yml $HUB_METRICS_S3_PATH
  - meltano --environment=prod invoke awscli s3 cp metrics.yml $HUB_METRICS_S3_PATH
  rules:
  - if: $CI_COMMIT_BRANCH == "main"
    when: always
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: always
