# Google Analytics Tap
TAP_GOOGLE_ANALYTICS_CLIENT_SECRETS="{\"type\": \"service_account\",\"project_id\": \"foo\",\"private_key_id\": \"bar\",\"private_key\": \"-----BEGIN PRIVATE KEY-----\\nfoo\\nbar\\n-----END PRIVATE KEY-----\\n\",\"client_email\": \"foo@bar.iam.gserviceaccount.com\",\"client_id\": \"foo\",\"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\"token_uri\": \"https://oauth2.googleapis.com/token\",\"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/foobar.iam.gserviceaccount.com\"}"

# Athena Target
TARGET_ATHENA_AWS_ACCESS_KEY_ID="****"
TARGET_ATHENA_AWS_SECRET_ACCESS_KEY="****"
TARGET_ATHENA_S3_STAGING_DIR=s3://devtest-meltano-bucket-01/data/dev_raw/src/target-athena/
S3_BUCKET=devtest-meltano-bucket-01
RAW_SCHEMA_NAME=dev_raw

# Athena DBT
DBT_OUTPUT_SCHEMA_NAME=dbt_dev
ATHENA_CATALOG=awsdatacatalog
DBT_ATHENA_S3_STAGE=s3://devtest-meltano-bucket-01/data/dev_raw/dbt/
DBT_TARGET=athena
AWS_ACCESS_KEY_ID="****"
AWS_SECRET_ACCESS_KEY="****"

# Athena Tap
TAP_ATHENA_AWS_ACCESS_KEY_ID="****"
TAP_ATHENA_AWS_SECRET_ACCESS_KEY="****"
TAP_ATHENA_S3_STAGING_DIR=s3://devtest-meltano-bucket-01/data/dev_raw/src/tap-athena/
