# Google Analytics Tap
TAP_GOOGLE_ANALYTICS_CLIENT_SECRETS="{\"type\": \"service_account\",\"project_id\": \"foo\",\"private_key_id\": \"bar\",\"private_key\": \"-----BEGIN PRIVATE KEY-----\\nfoo\\nbar\\n-----END PRIVATE KEY-----\\n\",\"client_email\": \"foo@bar.iam.gserviceaccount.com\",\"client_id\": \"foo\",\"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\"token_uri\": \"https://oauth2.googleapis.com/token\",\"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/foobar.iam.gserviceaccount.com\"}"

# Athena General
AWS_ACCESS_KEY_ID="****"
AWS_SECRET_ACCESS_KEY="****"
USER_PREFIX=melty

# Athena DBT
DBT_OUTPUT_SCHEMA_NAME=dbt_dev
ATHENA_CATALOG=awsdatacatalog
DBT_TARGET=athena
DBT_ATHENA_S3_STAGE=s3://devtest-meltano-bucket-01/data/dev_raw/dbt/
RAW_SCHEMA_NAME=dev_raw
