# Google Analytics Tap
TAP_GOOGLE_ANALYTICS_CLIENT_SECRETS="{\"type\": \"service_account\",\"project_id\": \"foo\",\"private_key_id\": \"bar\",\"private_key\": \"-----BEGIN PRIVATE KEY-----\\nfoo\\nbar\\n-----END PRIVATE KEY-----\\n\",\"client_email\": \"foo@bar.iam.gserviceaccount.com\",\"client_id\": \"foo\",\"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\"token_uri\": \"https://oauth2.googleapis.com/token\",\"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/foobar.iam.gserviceaccount.com\"}"

# Gitlab Token
TAP_GITLAB_PRIVATE_TOKEN="****"

# Squared AWS System User (S3/Cloudwatch)
AWS_ACCESS_KEY_ID="****"
AWS_SECRET_ACCESS_KEY="****"

# Slack API Key
TAP_SLACK_API_KEY="****"

# GitHub Token
TAP_GITHUB_AUTH_TOKEN="****"

# Snowflake Permifrost Permission Bot
PERMISSION_BOT_PASSWORD="****"
PERMISSION_BOT_ACCOUNT="****"

# Snowflake MELTANO User Password
SNOWFLAKE_PASSWORD="****"

# dbt Snowflake Password
DBT_SNOWFLAKE_PASSWORD="****"

# Slack Webhooks
TARGET_APPRISE_SINGER_ACTIVITY_URIS=["https://hooks.slack.com/services/{}/{}/{}"]
TARGET_APPRISE_MELTANO_ACTIVITY_URIS=["https://hooks.slack.com/services/{}/{}/{}"]

# Deploy Key for Accessing Private Git Repo
GIT_SSH_PRIVATE_KEY='-----BEGIN OPENSSH PRIVATE KEY-----
xyz
-----END OPENSSH PRIVATE KEY-----'
